<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Contact V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'manage_page/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'manage_page/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<!-- <div class="contact100-map" id="google_map" data-map-x="25.033964" data-map-y="121.564472" data-pin="{% static 'manage_page/images/icons/map-marker.png' %}" data-scrollwhell="0" data-draggable="1"></div> -->

		<button class="contact100-btn-show">
			<i class="fa fa-laptop" aria-hidden="true"></i>
		</button>

		<div class="wrap-contact100">
			<button class="contact100-btn-hide">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>

			{% ifequal authority 1 %}

			<form method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				
					<span class="contact100-form-title">
						請指定帳號輸入金額
					</span>

						<div class="wrap-input100 rs1-wrap-input100" data-validate="Name is required">
							<span class="label-input100">帳號</span>
							<input class="input100" type="text" name="phone" placeholder="請輸入帳號" required>
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 rs1-wrap-input100">
							<span class="label-input100">金額</span>
							<input class="input100" type="text" name="money" placeholder="請輸入金額" required>
							<span class="focus-input100"></span>
						</div>

						<div class="container-contact100-form-btn">
							<button class="contact100-form-btn" type="summit" name="authBtn" value="set_money_btn" style="background-color: #FFA556">
								<span>
									Submit
									<i class="fa fa-arrow-circle-up m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>

			</form>

			<form method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				

					<span class="contact100-form-title">
						設定帳號權限
					</span>
						<div class="wrap-input100 rs1-wrap-input100" data-validate="Name is required">
							<span class="label-input100">帳號</span>
							<input class="input100" type="text" name="phone" placeholder="請輸入帳號" required>
							<span class="focus-input100"></span>
						</div>

						
						<div class="container-contact100-form-btn">
							<button class="contact100-form-btn" name="authBtn" value="disable" type="summit" style="background-color: #FF251B">
								<span>
									Disable
									<i class="fa fa-times-circle m-l-7" aria-hidden="true"></i>
								</span>
							</button>

							<button class="contact100-form-btn" name="authBtn" value="enable" type="summit"  style="background-color: #21FF1E">
								<span>
									Enable
									<i class="fa fa-check-circle m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>


			</form>

			<form method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				

					<span class="contact100-form-title">
						設定帳號認證結果(Certification)
					</span>
						<div class="wrap-input100 rs1-wrap-input100" data-validate="Name is required">
							<span class="label-input100">帳號</span>
							<input class="input100" type="text" name="phone" placeholder="請輸入帳號" required>
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 rs1-wrap-input100" data-validate="Name is required">
							<span class="label-input100">認證</span>
							<input class="input100" type="text" name="certified" placeholder="請輸入帳號認證值" required>
							<span class="focus-input100"></span>
						</div>

						
						<div class="container-contact100-form-btn">
							
							<button class="contact100-form-btn" name="authBtn" value="certified_account_btn" type="summit"  style="background-color: #21FF1E">
								<span>
									Confirm
									<i class="fa fa-check-circle m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>


			</form>


			<form method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				

					<span class="contact100-form-title">
						查詢帳號紀錄
					</span>
						<div class="wrap-input100 rs1-wrap-input100" data-validate="Name is required">
							<span class="label-input100">帳號</span>
							<input class="input100" type="text" name="phone" placeholder="請輸入帳號" required>
							<span class="focus-input100"></span>
						</div>

						
						<div class="container-contact100-form-btn">

							<button class="contact100-form-btn" name="authBtn" value="search_one_btn" type="summit"  style="background-color: #21FF1E">
								<span>
									Search
									<i class="fa fa-check-circle m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>

			</form>

			<form method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				

					<span class="contact100-form-title">
						查詢總紀錄
					</span>
						
						<div class="container-contact100-form-btn">

							<button class="contact100-form-btn" name="authBtn" value="search_all_btn" type="summit"  style="background-color: #21FF1E">
								<span>
									Search
									<i class="fa fa-check-circle m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>

			</form>


			{% else %}
				<span class="contact100-form-title">
					請確認是否為管理者帳號
				</span>

			{% endifequal %}


			<div class="container-contact100-form-btn" >
				<button class="contact100-form-btn">
							{% if request.user.is_authenticated %}
							
								<a href="/signout" style="color: #ffffff;">
									登出
								</a>
							{% else %}
							<a href="/signin" style="color: #ffffff;">
								登入
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</a>
							{% endif %}
							</button>

					</div>

			
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'manage_page/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'manage_page/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="{% static 'manage_page/js/map-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'manage_page/js/main.js' %}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script> -->
	<script type="text/javascript">
		
		{% if messages %}
			        {% for message in messages %}
			            alert( '{{message}}' )
			        {% endfor %}
			    {% endif %}
	</script>
</body>
</html>
